PORT=your-server-port
DATABASE_PG=your-mysql-database
USER_PG=your-mysql-user
PASS_PG=your-mysql-pass
HOST_PG=your-mysql-host

HOST_REDIS=your-redis-host
PORT_REDIS=server-redis-port
USERNAME_REDIS=your-redis-username
PASSWORD_REDIS=your-redis-password

USER_MONGO=your-mongodb-user
PASS_MONGO=your-mongodb-pass
HOST_MONGO=your-mongodb-host
CLUSTER_MONGO=your-mongodb-cluster

PEM=your-pem-path 

